li {
    list-style-type: none;
}

.galery__img {
    display: block;
    height: 100%;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.gallery {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}